.lower__container {
  background-color: #232f3e;
  color: white;
  margin: 0;
  position: relative;
}
.lower__container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.lower__container ul li {
  padding: 5px;
}
.lower__container ul li:first-child {
}
